/* src/components/SavedGamesList.css */
.saved-games-list {
    position: absolute;
    bottom: 0;
    left: 0;
    width: 25%;
    height: 30%;
    overflow-y: auto;
    background-color: rgba(0, 0, 0, 0.5);
    color: white;
    padding: 10px;
    box-sizing: border-box;
  }
  
  .saved-games-list h3 {
    margin-top: 0;
  }
  
  .saved-games-list ul {
    list-style-type: none;
    padding: 0;
  }
  
  .saved-games-list li {
    margin-bottom: 10px;
  }