/* App.css */
.app-container {
  display: flex;
  height: 100vh;
}

.image-display {
  flex: 3;
}

.sidebar {
  flex: 2;
  display: flex;
  flex-direction: column;
  background-color: #f0f0f0;
}

/* src/App.css */
.App {
  position: relative;
  height: 100vh; /* Full viewport height */
  width: 100vw;  /* Full viewport width */
  overflow: hidden;
}

